#back {
    margin-top: 1em;
}

#play {
    margin-top: 12em;
    color: #007bff;
}

#microphone {
    margin-top: 2em;
    color: #007bff;
}

#play:hover {
    color: #0056b3;
}

#microphone:hover {
    color: #0056b3;
}

.article{
    overflow-y: scroll;
    height: 100vh;
}

.control {
    height:100vh;
}

.main-content {
	min-height: 25rem;
    margin-bottom: 0rem;
}

.card {
	max-width: 20rem;
	display: inline;
}


.footer {
	background: #F8F9FA;
	margin-top: 0rem;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.book {
    width: 18rem;
    max-height: 40rem;
}

.navbar-brand {
    font-size: 3rem;
    font-family: Helvetica, sans-serif;
}

.book {
    width: 18rem;
    max-height: 40rem;
}

.navbar-brand {
    font-size: 3rem;
}

#reader-controls {
    background-color: #F8F9FA;
    text-align: center;
}