#back {
    margin-top: 1em;
    color: #398B39;
}

#play {
    margin-top: 12em;
    color: #398B39;
}

#microphone {
    margin-top: 2em;
    color: #398B39;
}

.main-content {
	min-height: 25rem;
	margin-bottom: 0rem;
}

.footer {
	background: #F8F9FA;
	margin-top: 0rem;
}

.book {
    width: 18rem;
    max-height: 40rem;
}

.navbar-brand {
    font-size: 3rem;
}