#back {
    margin-top: 1em;
    color: #398B39;
}

#play {
    margin-top: 12em;
    color: #398B39;
}

#microphone {
    margin-top: 2em;
    color: #398B39;
}

.main-content {
	min-height: 25rem;
	margin-bottom: 0rem;
}

.card {
	max-width: 20rem;
	display: inline;
}


.footer {
	background: #F8F9FA;
	margin-top: 0rem;
<<<<<<< HEAD
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

||||||| merged common ancestors
}
=======
}

.book {
    width: 18rem;
    max-height: 40rem;
}

.navbar-brand {
    font-size: 3rem;
}
>>>>>>> 8e73ccd89085e3c320c0738464824d9e21ceda7c
