{% extends "base.html" %}

{% block content %}

<div class='container'>
	<div class='row'>
		<div class='col-sm-2'>
			<div id="back">
				<a href="{{ url_for('index') }}"><i class="fas fa-chevron-circle-left fa-4x" style="color: #398B39"></i></a>
			</div>

			<div id="play">
				<i class="fas fa-play fa-6x" style="color: #398B39"></i>
			</div>
			<div id="microphone">
				<i class="fas fa-microphone fa-6x" style="color: #398B39"></i>
			</div>
		</div>
		<div class='col-sm-8'></div>
		<div class='col-sm-2'></div>
	</div>
</div>

{% endblock %}

{% block js%}
	<script src="{{ url_for('static', filename='js/audioplay.js') }}" type='text/javascript'></script>
{% endblock%}