{% extends "base.html" %}

{% block content %}

<div class='container-fluid'>
	<div class='row'>
		<div class='col-sm-2'>
			<div id="back">
				<a href="{{ url_for('index') }}"><i class="fas fa-chevron-circle-left fa-4x"></i></a>
			</div>

			<div id="play">
				<i class="fas fa-play fa-4x" style="color: #398B39"></i>
			</div>
			<div id="microphone">
				<i class="fas fa-microphone fa-4x" style="color: #398B39"></i>
			</div>
		</div>
		<div class='col-sm-8'>
			<h1>{{book.title}}</h1>
			{% for ind in range(0, book.paragraphs|length) %}
				<div id="div{{ind}}" class="paragraph">
					{{book.paragraphs[ind]}}
				</div>
			{% endfor %}
		</div>
		<div class='col-sm-2'></div>
	</div>
	<!-- <audio controls id='dom-audio'>
			<source src="{{ url_for('static', filename='assets/narr.mp3') }}" type="file/mpeg">
	</audio>-->
</div>

{% endblock %}

{% block js%}
	
	<script src="{{ url_for('static', filename='js/audioplay.js') }}" type='text/javascript'></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.4/howler.js"></script>
	<script src="{{ url_for('static', filename='js/scroll.js') }}" type='text/javascript'></script>
{% endblock%}