{% extends "base.html" %}

{% block content %}

<div class='container-fluid'>
	<div class='row'>
		<div class='col-sm-2'>
			<div id="back">
				<a href="{{ url_for('index') }}"><i class="fas fa-chevron-circle-left fa-4x"></i></a>
			</div>

			<div id="play">
				<i class="fas fa-play fa-4x" style="color: #398B39"></i>
			</div>
			<div id="microphone">
				<i class="fas fa-microphone fa-4x" style="color: #398B39"></i>
			</div>
		</div>
		<div class='col-sm-8'></div>
		<div class='col-sm-2'></div>
	</div>
</div>

{% endblock %}