{% extends "base.html" %}

{% block content %}
	<nav class="navbar navbar-light bg-light">
	  <span class="navbar-brand">
	    <span class="fas fa-book-open"></span>
	    Smart Audio Book
	  </span>
	</nav>
	<div class="main-content container-fluid mt-4">
		<div class="row justify-content-center">
				{% for story in stories %}
					<div class="col-auto mb-3">
						<div class="card book">
							<img src="{{story.img}}" class="card-img-top">
							<div class="card-body">
								<h5 class="card-title">{{story.name}}</h5>
								<p class="card-text">{{story.author}}</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
	</div>

	<footer class="footer page-footer pt-2">
		<a href="{{ url_for('reader') }}">Reader</a>
	  <!-- Footer Links -->
	  <div class="container-fluid text-center text-lg-left">

	    <!-- Grid row -->
	    <div class="row">

	      <!-- Grid column -->
	      <div class="col-lg-9 mt-lg-0 mt-3">
	        <h4>Credits</h4>
				  <div>
				  	<img src="{{ url_for('static', filename='assets/naverlogo.png') }}" height="20rem" width="36rem" />
				  	Powered by NAVER Cloud Platform
				  </div>
	      </div>
	      <!-- Grid column -->

	      <!-- Grid column -->
	      <div class="col-lg-3 mb-lg-0 mb-3">
	        <h4>Links</h4>
	        <ul class="list-unstyled">
	          <li>
	            <a href="https://github.com/AnuarTB">Anuar Talipov</a>
	          </li>
	          <li>
	            <a href="https://github.com/amanzholov8">Alim Amanzholov</a>
	          </li>
	          <li>
	            <a href="https://github.com/kunduzb17">Kunduz Baryktabasova</a>
	          </li>
	          <li>
	            <a href="https://github.com/temirrr">Temirlan Myrzakhmetov</a>
	          </li>
	        </ul>
	      </div>
	      <!-- Grid column -->

	    </div>
	    <!-- Grid row -->

	  </div>
	  <!-- Footer Links -->

	  <!-- Copyright -->
	  <div class="footer-copyright text-center py-3">© 2019 Copyright:
	    <a href="https://github.com/AnuarTB/junctionX2019"> Smart Audio Book team, JunctionX Seoul Hackathon</a>
	  </div>
	  <!-- Copyright -->

	</footer>
{% endblock %}