{% extends "base.html" %}

{% block content %}
	<nav class="navbar navbar-light bg-light">
	  <span class="navbar-brand">
	    <span class="fas fa-book-open"></span>
	    Smart Audio Book
	  </span>
	  <div class="float-lg-right">
	  	<img src="../assets/naverlogo" height="10rem" width="10rem" />
	  	Powered by NAVER Cloud Platform
	  </div>
	</nav>	
  <h2>Choose the book from the shelf</h2>
  {% for story in stories %}
      <div class="col-sm-4">
          <p class='lead'>{{story.name}}</p>
      </div>
  {% endfor %}
  <a href="{{ url_for('reader') }}">Reader</a>
{% endblock %}